@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

h1{
    padding-top: 20px;
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    /* position: fixed; */
    /* left: 40%; */
}
.header{
    padding-bottom: 20px;
    box-shadow: 10px 10px 20px rgba(128, 126, 126, 0.5);
}
.login__container{
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 40%;
    left: 30%;
    /* transform: translateY(-50%); */
    transform: translateY(-50%);
    /* transform: translateX(-50%); */
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
}


.text-input{
    border: none;
    display: block;
    margin: 20px;
    height: 30px;
    width: 35vw;
    font-size: 1.5rem;

    border-bottom: 1px solid;
    /* background-color: transparent; */
}

h2{
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 10px;
}



input:focus{
    outline: none;
}

.sub__btn{
    margin: 20px;
    height: 35px;
    width: 20vw;
    border: none;
    background-color: rgb(36, 35, 35);
    color: #fff;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 5px  rgba(0, 0, 0, 0.4);
    
}

.sub__btn:hover{
    filter: brightness(140%);
}

.sub__btn:focus{
    outline: none;
}

.sub__btn:active{
    transform: translateY(5%);
    box-shadow: none;
}

.error{
    color: rgb(238, 60, 60);
    font-weight: 300;
    display: none;
}